*/*.env
*/*.crt
*/*.csr
*/*.key
letsencrypt/certificate/nginx-selfsigned.crt
letsencrypt/certificate/nginx-selfsigned.csr
letsencrypt/certificate/nginx-selfsigned.key
certificates/private/nginx-selfsigned.key
nginx/letsencrypt/
nginx/letsencrypt/*
nginx/letsencrypt/
docker-data/
docker_swarm/
nginx/config/fastcgi_params
nginx/config/nginx.conf.old
nginx/config/sites-available/
mail/data/dms/*
